---

{% if 'apps.openshift.io' in api_groups %}
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
{% else %}
apiVersion: apps/v1
kind: Deployment
{% endif %}
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  selector:
{% if 'apps.openshift.io' in api_groups %}
    app: {{ name }}
{% else %}
    matchLabels:
      app: {{ name }}
{% endif %}
  replicas: {{ size }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
      - name: nginx
        image: {{ image }}
        ports:
        - containerPort: 8081
{% if lookup('k8s', kind='ConfigMap', namespace=namespace, resource_name=html_index_configmap) %}
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
          readOnly: true
      volumes:
      - name: html
        configMap:
          name: {{ html_index_configmap }}
{% endif %}
